<main>
    <div class="container-fluid but-fixed">
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-md-8 col-lg-6">
                <div class="card text-white bg-secondary mb-3">
                    <h5 class="card-header">Create Your Own Burger</h5>
                    <div class="card-body">
                        <form class="create-burger" action="/api/create" method="POST">
                            <div class="form-group">
                                <label for="creator-name">Creator Name:</label>
                                <input id="creator-name" class="form-control" type="text"  name="creatorName">
                            </div>
                            <div class="form-group">
                                <label for="burger-name">Burger Name:</label>
                                <input id="burger-name" class="form-control" type="text"  name="burgerName">
                            </div>
                            <div class="form-group d-flex justify-content-end mb-0">
                                <button class="btn btn-light" type="submit">Create Burger</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-12 text-center">
                <h1 class="mb-4 text-white">Awesome Burger Name!</h1>
            </div>
            <div class="col-md-8 col-lg-6">
                <div class="card mb-2">
                    <h5 class="card-header">Available Burgers</h5>
                    <ul class="list-group list-group-flush">
                        {{#each burgers}}
                            {{#unless this.devoured}}
                                <!-- <li class="list-group-item d-flex align-items-center">{{this.id}}. {{this.burger_name}} <button class="btn btn-outline-primary btn-sm ml-auto" type="submit" data-id="{{this.id}}" >Devour it!</button></li> -->
                                <li class="list-group-item d-flex align-items-center">
                                    <span>{{this.burger_name}}<br><small class="text-muted font-weight-light ml-auto">Created by: {{this.Creator.creator_name}}</small></span>
                                    <button class="btn btn-outline-primary btn-sm ml-auto show-modal" type="submit" data-id="{{this.id}}" data-toggle="modal" data-target="#customer-modal">Devour it!</button>
                                </li>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-lg-6">
                <div class="card md-2">
                    <h5 class="card-header">Devoured Burgers</h5>
                    <ul class="list-group list-group-flush">
                        {{#each burgers}}
                            {{#if this.devoured}}
                                <!-- <li class="list-group-item d-flex align-items-center">{{this.id}}. {{this.burger_name}}</li> -->
                                <li class="list-group-item d-flex align-items-center">
                                    {{this.burger_name}}
                                    <small class="text-muted font-weight-light ml-auto">Devoured by: {{this.Customer.customer_name}}</small>
                                </li>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

<div aria-hidden="true" class="modal fade" id="customer-modal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="customer-name">Customer Name:</label>
                    <input id="customer-name" class="form-control" type="text" name="customerName">
                </div>
                <div class="form-group d-flex justify-content-end mb-0">
                    <button class="btn btn-primary eat-btn" type="button" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>
</
