<main>
    <div class="container-fluid but-fixed">
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-12 text-center">
                <h1 class="mb-4 text-white">Eat-Da-Burger!</h1>
            </div>
            <div class="col-md-8 col-lg-6">
                <div class="card mb-2">
                    <h5 class="card-header">Available Burgers</h5>
                    <ul class="list-group list-group-flush">
                        {{#each burgers}}
                            {{#unless this.devoured}}
                                <!-- <li class="list-group-item d-flex align-items-center">{{this.id}}. {{this.burger_name}} <button class="btn btn-outline-primary btn-sm ml-auto" type="submit" data-id="{{this.id}}" >Devour it!</button></li> -->
                                <li class="list-group-item d-flex align-items-center">{{this.burger_name}} <button class="btn btn-outline-primary btn-sm ml-auto eat-btn" type="submit" data-id="{{this.id}}">Devour it!</button></li>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-lg-6">
                <div class="card md-2">
                    <h5 class="card-header">Devoured Burgers</h5>
                    <ul class="list-group list-group-flush">
                        {{#each burgers}}
                            {{#if this.devoured}}
                                <!-- <li class="list-group-item d-flex align-items-center">{{this.id}}. {{this.burger_name}}</li> -->
                                <li class="list-group-item d-flex align-items-center">{{this.burger_name}}</li>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-md-7 col-lg-6">
                <div class="card text-white bg-secondary mb-3">
                    <h5 class="card-header">Create Your Own Burger</h5>
                    <div class="card-body">
                        <form class="create-burger" action="/api/create" method="POST">
                            <div class="form-group">
                                <label for="burger-name">Burger Name:</label>
                                <input id="burger-name" class="form-control" type="text"  name="burgerName">
                            </div>
                            <button class="btn btn-light" type="submit">Create Burger</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
